In [1]:
import numpy as np

import pandas as pd

In [2]:
from pandas import Series,DataFrame

In [3]:
#Series是一维数据

s = Series(data = [120,136,128,99],index = ['Math','Python','En','Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [4]:
#查看形状
s.shape

(4,)

In [5]:
s.values

array([120, 136, 128,  99], dtype=int64)

In [6]:
s.mean()

120.75

In [7]:
s.max()

136

In [8]:
s.min()

99

In [11]:
#二维数据，和Excel非常相似
df = DataFrame(data = np.random.randint(0,150,size = (10,3)),index = list('abcdefhijk'),columns=['Python','En','Math'])
df

   Python   En  Math
a      55   90     6
b      61  120    17
c      19   26    59
d      65   63   129
e      49   90   112
f     116   91     8
h      86   41    65
i     134   70    52
j      59   96   102
k      93  104   142

In [12]:
df.shape

(10, 3)

In [19]:
v = df.values
v

array([[ 55,  90,   6],
       [ 61, 120,  17],
       [ 19,  26,  59],
       [ 65,  63, 129],
       [ 49,  90, 112],
       [116,  91,   8],
       [ 86,  41,  65],
       [134,  70,  52],
       [ 59,  96, 102],
       [ 93, 104, 142]])

In [20]:
df.mean()

Python    73.7
En        79.1
Math      69.2
dtype: float64

In [ ]:
s1 = Series(data = np.random.randint(0,150,size = 100),index = np.arange(100,200))
s1