In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [2]:
# 走右手习惯，是否抽烟，性别，对体重，智商，有一定影响

df = DataFrame({'Hand':['right','left','left','right','right','right','right','right','left','right'],
               'Smoke':['yes','yes','no','no','yes','no','no','no','no','yes'],
               'sex':['male','female','female','male','male','male','female','female','male','female'],
               'weight':[80,50,48,75,68,100,40,90,88,76],
               'IQ':[100,120,90,130,140,80,94,110,100,160]})
df

    Hand Smoke     sex  weight   IQ
0  right   yes    male      80  100
1   left   yes  female      50  120
2   left    no  female      48   90
3  right    no    male      75  130
4  right   yes    male      68  140
5  right    no    male     100   80
6  right    no  female      40   94
7  right    no  female      90  110
8   left    no    male      88  100
9  right   yes  female      76  160

In [3]:
#分组聚合操作：在某一条件下，查看数据的规律

In [8]:
data = df.groupby(by = ['Hand'])[['weight','IQ']].mean().round(1)

In [9]:
data

       weight     IQ
Hand
left     62.0  103.3
right    75.6  116.3

In [11]:
df.groupby(by = ['Hand'])[['weight']].apply(np.mean).round(1)

       weight
Hand
left     62.0
right    75.6

In [14]:
df2 = df.groupby(by = ['Hand'])[['weight']].transform(np.mean).round(1)

In [16]:
df2 = df2.add_suffix('_mean')

In [17]:
df2

   weight_mean
0         75.6
1         62.0
2         62.0
3         75.6
4         75.6
5         75.6
6         75.6
7         75.6
8         62.0
9         75.6

In [19]:
df3 = df.merge(df2,left_index=True,right_index=True)
df3

    Hand Smoke     sex  weight   IQ  weight_mean
0  right   yes    male      80  100         75.6
1   left   yes  female      50  120         62.0
2   left    no  female      48   90         62.0
3  right    no    male      75  130         75.6
4  right   yes    male      68  140         75.6
5  right    no    male     100   80         75.6
6  right    no  female      40   94         75.6
7  right    no  female      90  110         75.6
8   left    no    male      88  100         62.0
9  right   yes  female      76  160         75.6

In [22]:
def count(x):
    return (x.count(),x.mean().round(1))


df.groupby(by = ['Hand'])[['weight','IQ']].apply(count)

Hand
left     ([3, 3], [62.0, 103.3])
right    ([7, 7], [75.6, 116.3])
dtype: object

In [24]:
df.groupby(by = ['Hand','sex'])[['IQ']].max()

               IQ
Hand  sex
left  female  120
      male    100
right female  160
      male    140